<!-- FOOTER -->
<footer>
	<div class="d-flex justify-content-center">
		<div class="line_separation"></div>
	</div>

	<div class="d-flex justify-content-center">
		<div class="grid text-center">
			<div class="g-col-12 g-col-lg-4">
				<a href="calcul_proba">
					<button class="secondary_button">calculs des probabilitées</button>
				</a>
			</div>
			<div class="g-col-12 g-col-lg-4">
				<a href="credits">
					<button class="secondary_button">crédits</button>
				</a>
			</div>
			<div class="g-col-12 g-col-lg-4">
				<a href="regles_du_jeu">
					<button class="secondary_button space">règles du jeu</button>
				</a>
			</div>
		</div>
	</div>
</footer>
