/* --- FOND --- */
body {
	background: #1488cc;
	background: -webkit-linear-gradient(0deg, #1488cc 0%, #2b32b2 100%);
	background: linear-gradient(0deg, #1488cc 0%, #2b32b2 100%);
	background-attachment: scroll;
	color: #ffffff;
	min-height: 100vh;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type='number'] {
	-moz-appearance: textfield;
}

.box-game img {
	width: 80px;
	border-radius: 2px;
	margin: 5px;
}

.box-game {
	border-radius: 20px;
	border: solid 2px #ffffff;
	background-color: #0d1142;
	width: 90%;
	margin-bottom: 20px;
	padding: 10px;
}

#aidez-moi {
	font-family: 'Creepster', cursive;
	font-size: 30px;
	border: solid 1px #000000;
	margin-bottom: 10px;
}
#hide-card {
	font-family: 'Creepster', cursive;
	font-size: 30px;
	border: solid 1px #000000;
	margin-bottom: 10px;
}

.help-button {
	color: #ffffff;
	font-size: 25px;
	margin: 0 0 0 10px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.probabilite {
	padding: 5px 10px;
	margin-top: 140px;
	border-radius: 5px;
	background-color: #ffffff;
	white-space: nowrap;
}

.custom-tooltip {
	--bs-tooltip-bg: #ffffff !important;
	--bs-tooltip-color: #000000 !important;
	--bs-tooltip-arrow-width: auto;
}

/* Block Serveur info */
.info {
	border-radius: 10px;
	border: solid 2px #000000;
	background: #a0e9ff;
	background: -webkit-radial-gradient(circle, #a0e9ff 0%, #c6f5ff 100%);
	background: radial-gradient(circle, #a0e9ff 0%, #c6f5ff 100%);
	width: 90%;
	margin: 5px 0;
	padding: 10px;
}
.pot_mise {
	font-family: 'Lilita One', cursive;
}
.info-text {
	font-size: 25px;
	font-family: 'Bruno Ace', cursive;
}
.spinner-border {
	--bs-spinner-width: 25px !important;
	--bs-spinner-height: 25px !important;
}
.margin-top-perso {
	margin-top: 20px;
}
.margin-bottom-perso {
	margin-bottom: 20px;
}

/* Carte & Status joueur */
.card {
	--bs-card-border-width: 2px !important;
	width: 100%;
	margin-bottom: 25px;
}
.d-flex .card_invisible {
	--bs-card-border-width: 0px !important;
}
.d-flex .card_of_me {
	--bs-card-border-width: 3px !important;
	border-color: #ffdc19 !important;
}

.abandon div {
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='white' stroke-width='2'/><path d='M0 0 L100 100 ' stroke='white' stroke-width='2'/></svg>");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%, auto;
}
.winner div,
.winner li {
	background-color: #368e36 !important;
}
.out div,
.out li {
	background-color: #ac2929 !important;
}
.main_player div,
.main_player li {
	background-color: #008ccd !important;
}
.main_player {
	animation-name: shake;
	animation-iteration-count: 1;
	animation-duration: 1s;
}
.last-action {
	font-family: 'Rowdies', cursive;
}
.username {
	font-family: 'Carter One', cursive;
}

/* Bouton choix */
#input_relance {
	font-family: 'Carter One', cursive;
	display: inline;
	max-width: 65px;
	padding: 0;
	color: #ffffff;
	text-align: center;
	background-color: #0d6efd;
	margin-left: 10px;
}
.bouton-choix {
	font-family: 'Carter One', cursive !important;
	margin: 5px 0;
}

/* Card flip */
.flip-card {
	background-color: transparent;
	width: 100px;
	height: auto;
	perspective: 1000px;
}
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.hide_my_card {
	transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.flip-card-front {
	background-color: transparent;
}
.flip-card-back {
	background-color: transparent;
	transform: rotateY(180deg);
}

/* Alert */
.block-alert_perso {
	position: fixed;
	left: calc(50% - 150px);
	top: 50%;
}
.alert_perso {
	font-family: 'Oxanium', cursive;
	font-size: 30px;
	color: #ffffff;
	background-color: #0000ff;
	text-align: center;
	justify-content: center;

	flex: 1 1 100%;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	padding: 5px 20px;
	border-radius: 10px;
	box-shadow: 0 15px 35px rgba(255, 255, 255, 0.1), 0 5px 15px rgba(255, 255, 255, 0.07);

	width: 300px;
	height: auto;
	padding: 20px;

	transition-property: all;
	transition-duration: 0.15s;
}
.alert-green {
	background-color: green !important;
	color: #ffffff !important;
}
.alert-red {
	background-color: red !important;
	color: #ffffff !important;
}
.alert-yellow {
	background-color: yellow !important;
	color: #000000 !important;
}
.success_alert {
	background-color: green;
}
.alert_perso p {
	font-family: 'Concert One', cursive;
	font-size: 20px;
	padding: 0;
	margin: 0;
}
.btn-close {
	position: absolute;
	width: 10px !important;
	height: 10px !important;
	margin: 10px 10px 0 0;
	top: 0px;
	right: 0px;
}

/* Animation */
.animation--boom {
	animation-name: boom;
	animation-iteration-count: 1;
	animation-duration: 1s;
}

.animation--shake {
	animation-name: shake;
	animation-iteration-count: 1;
	animation-duration: 1s;
}

.alert-infinity {
	animation-iteration-count: infinite;
}
#cartes_communes {
	height: 150px;
}

.myprogress {
	margin: auto;
	width: 100%;
}

.myprogress {
	padding: 4px;
	background: rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.myprogress-bar {
	height: 30px;
	border-radius: 4px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	-webkit-transition: 0.4s linear;
	-moz-transition: 0.4s linear;
	-o-transition: 0.4s linear;
	transition: 0.4s linear;
	-webkit-transition-property: width, background-color;
	-moz-transition-property: width, background-color;
	-o-transition-property: width, background-color;
	transition-property: width, background-color;
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
	width: 0%;
	background-color: rgb(74, 74, 74);
}

@keyframes boom {
	from {
		transform: scale3d(1, 1, 1);
	}

	10%,
	20% {
		transform: scale3d(0.98, 0.98, 0.98) rotate3d(0, 0, 1, -1deg);
	}

	30%,
	50%,
	70%,
	90% {
		transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 1deg);
	}

	40%,
	60%,
	80% {
		transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -1deg);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes shake {
	from {
		transform: none;
	}

	15% {
		transform: translate3d(-2%, 0, 0);
	}

	30% {
		transform: translate3d(2%, 0, 0);
	}

	45% {
		transform: translate3d(-2%, 0, 0);
	}

	60% {
		transform: translate3d(2%, 0, 0);
	}

	75% {
		transform: translate3d(0%, 0, 0);
	}

	to {
		transform: none;
	}
}

@keyframes zoom {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1);
	}
}

/* --- FOR TELEPHONE --- */
@media only screen and (max-width: 992px) {
	.info-text {
		font-size: 15px;
	}
	.spinner-border {
		--bs-spinner-width: 15px !important;
		--bs-spinner-height: 15px !important;
	}
	#cartes_communes img {
		width: 80%;
		border-radius: 2px;
	}
	#cartes_communes {
		height: 120px;
	}
}
