/* --- FOND --- */
body {
	background: #2b2f77;
	background: -webkit-linear-gradient(0deg, #2b2f77 0%, #141852 50%, #070b34 100%);
	background: linear-gradient(0deg, #2b2f77 0%, #141852 50%, #070b34 100%);
	background-attachment: scroll;
	color: #ffffff;
	min-height: 100vh;
}

.box-game img {
	width: 80px;
	border-radius: 2px;
	margin: 5px;
}

.box-game {
	border-radius: 20px;
	border: solid 2px #ffffff;
	background-color: #0d1142;
	width: 90%;
	margin-bottom: 20px;
	padding: 10px;
}

#aidez-moi {
	font-family: 'Creepster', cursive;
	font-size: 30px;
}

.last-action {
	font-family: 'Rowdies', cursive;
}

.username {
	font-family: 'Carter One', cursive;
}

.help-button {
	color: #ffffff;
	font-size: 25px;
	margin: 0 0 0 10px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.probabilite {
	padding: 10px;
	margin: 10px;
	border-radius: 15px;
	background-color: #ffffff;
}

.custom-tooltip {
	--bs-tooltip-bg: #ffffff !important;
	--bs-tooltip-color: #000000 !important;
	--bs-tooltip-arrow-width: auto;
}

.bouton-choix {
	font-family: 'Carter One', cursive !important;
	margin: 5px 0;
}

/* Block Serveur info */
.info {
	border-radius: 10px;
	border: solid 2px #000000;
	background-color: #ffbb00;
	width: 90%;
	margin: 5px 0; 
	padding: 10px;
}
.pot_mise {
	font-family: 'Lilita One', cursive;
}
.info-text {
	font-size: 25px;
	font-family: 'Bruno Ace', cursive;
}
.spinner-border {
	--bs-spinner-width: 25px !important;
	--bs-spinner-height: 25px !important;
}
.margin-top-perso {
	margin-top: 20px;
}
.margin-bottom-perso {
	margin-bottom: 20px;
}

/* Carte & Status joueur */
.card {
	--bs-card-border-width: 2px !important;
	width: 100%;
	margin-bottom: 25px;
}
.abandon div {
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='white' stroke-width='2'/><path d='M0 0 L100 100 ' stroke='white' stroke-width='2'/></svg>");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%, auto;
}
.winner div,
.winner li {
	background-color: #368e36 !important;
}
.out div,
.out li {
	background-color: #ac2929 !important;
}
.main_player div,
.main_player li {
	background-color: #008ccd !important;
}

/* Bouton choix */
#input_relance {
	font-family: 'Carter One', cursive;
	display: inline;
	max-width: 65px;
	padding: 0;
	color: #ffffff;
	text-align: center;
	background-color: #0d6efd;
	margin-left: 10px;
}

/* Alert */
.block-alert_perso {
	position: fixed;
	left: calc(50% - 150px);
	top: 50%;
}

.alert_perso {
	font-family: 'Oxanium', cursive;
	font-size: 30px;
	color: #ffffff;
	background-color: #ff0000;
	text-align: center;
	justify-content: center;

	flex: 1 1 100%;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	padding: 5px 20px;
	border-radius: 10px;
	box-shadow: 0 15px 35px rgba(255, 255, 255, 0.1), 0 5px 15px rgba(255, 255, 255, 0.07);

	width: 300px;
	height: 150px;

	transition-property: all;
	transition-duration: 0.15s;
}

.success_alert {
	background-color: green;
}

.alert_perso p {
	padding: 0;
	margin: 0;
}

.alert_perso:hover {
	transform: translateY(-2px);
	box-shadow: 0 18px 35px rgba(255, 255, 255, 0.1), 0 8px 15px rgba(255, 255, 255, 0.07);
	animation-name: shake;
	animation-duration: 1s;
}

/* Animation */
.animation--boom {
	animation-name: boom;
	animation-duration: 1s;
}

.animation--shake {
	animation-name: shake;
	animation-duration: 1s;
}

@keyframes boom {
	from {
		transform: scale3d(1, 1, 1);
	}

	10%,
	20% {
		transform: scale3d(0.98, 0.98, 0.98) rotate3d(0, 0, 1, -1deg);
	}

	30%,
	50%,
	70%,
	90% {
		transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 1deg);
	}

	40%,
	60%,
	80% {
		transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -1deg);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes shake {
	from {
		transform: none;
	}

	15% {
		transform: translate3d(-2%, 0, 0);
	}

	30% {
		transform: translate3d(2%, 0, 0);
	}

	45% {
		transform: translate3d(-2%, 0, 0);
	}

	60% {
		transform: translate3d(2%, 0, 0);
	}

	75% {
		transform: translate3d(0%, 0, 0);
	}

	to {
		transform: none;
	}
}

/* --- FOR TELEPHONE --- */
@media only screen and (max-width: 992px) {
	.info-text {
		font-size: 15px;
	}
	.spinner-border {
		--bs-spinner-width: 15px !important;
		--bs-spinner-height: 15px !important;
	}
	#cartes_communes img {
		width: 18%;
		border-radius: 2px;
	}
}
