body {
    background: #fc0505;
    background: -webkit-linear-gradient(0deg, #fc0505 0%, #ffea00 100%);
    background: linear-gradient(0deg, #fc0505 0%, #ffea00 100%);
    background-attachment: fixed;
}
h1 {
    font-family: 'Audiowide', cursive;
    color: #ffffff;
    font-size:165px;
    margin: 30px;
}

.main_button{
    font-family: 'Audiowide', cursive;
    font-size: 35px;
    transition: all 0.3s;
        border-radius: 30px;
        padding: 20px 100px 20px 100px;
        margin: 100px 50px 150px 0px;
        background-color: #ff0000;
        color: #ffffff;
        border: 5px;
        border-color: #000000;
        border-style: outset;
    }
    
    .main_button:hover {
        transform: scale(1.05);
        border-color: #000000;
        border-style: outset;
        background-color: #a60303;
    }
    
    .trait_dessus {
        color: rgba(0, 0, 255, 0);
        border-top: 1px solid #000;
        width: 1000px;
}

.alert {
    color: #ff0000;
}

