<!DOCTYPE html>
<html lang="fr">
	<head>
		<%- include('includes/head'); %>

		<title>Pok'help | Erreur 404</title>
	</head>
	<body>
		<%- include('includes/home_icon'); %>

		<div class="container">
			<!-- TITRE -->
			<div class="d-flex justify-content-center">
				<h1>Erreur 404</h1>
			</div>

			<div class="d-flex justify-content-center text-center espace">
				<div class="faiseurs">
					Retourner à l'accueil en cliquand sur la maison en haut à gauche de votre écran.
					<br /><br />
				</div>
			</div>

			<%- include('includes/footer'); %>
		</div>
	</body>
</html>
