<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Style -->
		<link href="public/style/style.css" rel="stylesheet" />

		<title>Pok'help 404</title>
	</head>
	<body>
		<h1>404 error</h1>

		<a href="connexion"> <button>connexion</button> </a><br />
		<a href="inscription"> <button>inscription</button> </a><br />
		<a href="deconnexion"> <button>deconnexion</button> </a><br />
		<a href=""> <button>Accueil</button> </a><br />
        <a href="game"> <button>Game</button> </a>
	</body>
</html>
