<!DOCTYPE html>
<html lang="fr">
	<head>
		<%- include('includes/head'); %>

		<title>Pok'help | easter-alexou</title>
	</head>
	<body>
		<%- include('includes/home_icon'); %>
		<script>
			var audio = new Audio('public/sounds/bernalex.mp3');
			audio.play();
			setInterval(function audios() {
				audio.play();
			}, 6000);
		</script>
		<div class="container">
			<!-- TITRE -->
			<div class="d-flex justify-content-center">
				<h1 class="easter-title">Alexou le petit panda roux qui grignote mon bambou</h1>
			</div>

			<div class="d-flex justify-content-center text-center espace">
				<div class="faiseurs">
					💩 Tu vois Alexis que je sais faire un
					<a href="https://instagram.com/aurelie_brd49?igshid=MzRlODBiNWFlZA==" style="color: #ffffff; text-decoration: none">href</a>:
					<br />(active le son 🔊)<br />
					<div class="row">
						<div class="col-12 col-lg-6">
							<img src="public/images/secret/coeur.png" alt="Img Alexou" style="width: 350px; border-radius: 30px" />
						</div>
						<div class="col-12 col-lg-6">
							<img src="public/images/secret/big_alexou.png" alt="Img Alexou" style="width: 350px; border-radius: 30px" />
						</div>
					</div>
					<br /><br />
				</div>
			</div>

			<%- include('includes/footer'); %>
		</div>
	</body>
</html>
