<!DOCTYPE html>
<html lang="fr">
	<head>
        <%- include('includes/head'); %>

		<title>Pok'help | Probabilité</title>
	</head>

	<body>
		<%- include('includes/home_icon'); %>

		<div class="container">
			<!-- TITRE -->
			<div class="d-flex justify-content-center">
				<h1>Calcul probas</h1>
			</div>
            
            <p>Voici les probas pour chaque main de départ avec chaque nombre de joueurs (de 2 à 9) :</p>
			<div class="d-flex justify-content-center text-center espace"></div>
				<%- include('includes/proba_html'); %>
			</div>

            <%- include('includes/footer'); %>
		</div>
	</body>
</html>
