<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Style -->
		<link href="public/style/style.css" rel="stylesheet" />

		<title>Connexion</title>
	</head>
	<body>
		<h1>Connecte toi !!!</h1>
		<form method="post" action="connexion">
			<label for="username">Nom d'utilisateur:</label>
			<input type="text" id="username" name="username" required />
			<br />
			<label for="password">Mot de passe:</label>
			<input type="password" id="password" name="password" required />
			<br />
			<input type="submit" value="Se connecter" />
		</form>
		<br /><br />
		<a href="inscription"> <button>inscription</button> </a><br />
		<a href=""> <button>acceuil</button> </a><br />
		<a href="deconnexion"> <button>deconnexion</button> </a><br />
		<a href="game">
			<button>game</button>
		</a>

		<!-- ALERT BLOCK -->
		<% if (alert) { %>
		<p class="alert"><%= alert.message %></p>
		<% } else { %>
		<p>pas d'alert en cour !</p>
		<% } %>
	</body>
</html>
