<!DOCTYPE html>
<html lang="fr">
	<head>
		<%- include('includes/head'); %>

		<title>Pok'help | Connexion</title>
	</head>
	<body>
		<div class="container">
			<!-- TITRE -->
			<div class="d-flex justify-content-center">
				<h1>Connexion</h1>
			</div>

			<%- include('includes/alert'); %>

			<form method="post" action="connexion">
				<label for="username">Nom d'utilisateur:</label>
				<input type="text" id="username" name="username" required />
				<br />
				<label for="password">Mot de passe:</label>
				<input type="password" id="password" name="password" required />
				<br />
				<input type="submit" value="Se connecter" />
			</form>
			<br /><br />
			<a href="inscription"> <button>inscription</button> </a><br />
			<a href="/"> <button>acceuil</button> </a><br />
			<a href="deconnexion"> <button>deconnexion</button> </a><br />
			<a href="game">
				<button>game</button>
			</a>

			<%- include('includes/footer'); %>
		</div>
	</body>
</html>
