<!DOCTYPE html>
<html lang="fr">
	<head>
        <%- include('includes/head'); %>

		<title>Pok'help | Crédits</title>
	</head>

	<body>
		<%- include('includes/home_icon'); %>

		<div class="container">
			<!-- TITRE -->
			<div class="d-flex justify-content-center">
				<h1>Crédit</h1>
			</div>
            
            <p>Créé par personne14 tout seul !</p>

            <%- include('includes/footer'); %>
		</div>
	</body>
</html>
