<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<!-- Icon -->
		<link rel="icon" type="image" href="public/icons/poker.png" />

		<!-- Style -->
		<link href="public/style/game.css" rel="stylesheet" />

		<!-- JQuery -->
		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

		<title>Pok'help - Game</title>
	</head>
	<body>
		<div class="container">
			<%- include('includes/alert'); %>

			<!-- Username -->
			<p>Your are <%= username %></p>

			<!-- Button start -->
			<button onclick="button_start()">Start</button>

			<!-- Pot & Mise actuelle -->
			<p id="valeur_pot">pot: none | mise: none</p>

			<!-- Card of player -->
			<div id="your_card"></div>

			<!-- Card communes -->
			<div id="cartes_communes"></div>

			<!-- Liste Joueurs -->
			<div id="liste_players"></div>

			<!-- Choix possible -->
			<button onclick="player_choose_action('suivre')">Suivre</button>
			<button onclick="player_choose_action('abandon')">Abandonner</button>
			<button onclick="player_choose_action('relance')">Relancer</button
			><input type="text" value="100" min="0" max="" placeholder="valeur relance" id="input_relance" />
			<button onclick="player_choose_action('all-in')">All-in</button>

			<!-- Javascript -->
			<script src="public/javascript/javascript.js"></script>
		</div>
	</body>
</html>
