<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Style -->
		<link href="public/style/game.css" rel="stylesheet" />

		<!-- JQuery -->
		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script> 

		<title>Pok'help</title>
	</head>
	<body>
		<h1>Page du jeu</h1>
		<button onclick="button_start()">Start</button>
		<h2>Joueur 1</h2>
		<h2>Joueur 2</h2>
		<h2>Joueur 3</h2>
		<h2>Joueur 4</h2>
		<h1>Fin des joueurs</h1>
		<a href="connexion"> <button>connexion</button> </a><br />
		<a href="inscription"> <button>inscription</button> </a><br />
		<a href="deconnexion"> <button>deconnexion</button> </a><br />
		<a href="">
			<button>Accueil</button>
		</a>

		<!-- ALERT BLOCK -->
		<% if (alert) { %>
		<p class="alert"><%= alert.message %></p>
		<% } else { %>
		<p>pas d'alert en cour !</p>
		<% } %>

		<!-- Javascript -->
		<script src="public/javascript/javascript.js"></script>
	</body>
</html>
