<!DOCTYPE html>
<html lang="fr">
	<head>
		<%- include('includes/head'); %>

		<title>Pok'help | Aurélie'popotamus</title>
	</head>
	<body>
		<%- include('includes/home_icon'); %>
		<div class="container">
			<!-- TITRE -->
			<div class="d-flex justify-content-center">
				<h1>Aurélie'popotamus</h1>
			</div>

			<div class="d-flex justify-content-center text-center espace">
				<div class="faiseurs">
					Le restaurant créé par la meilleure mère du monde (photo d'elle et de la famille Bernard ci-dessous) après celle à Mathis a
					rencontré un réel succès auprès des plus fins gourmets de cette planète. En effet, ce régime alimentaire à base d'hippopotame, une
					espèce qui lui est assez familière, a su séduire tous les publics. Nous ne pouvons que les remercier pour cet apport financier de
					2 tickets repas "maxi hippo".
					<br />
					<img src="public/images/secret/truc.webp" alt="Img Alexou" style="width: 350px; border-radius: 30px; margin-top: 30px" />
					<br /><br />
				</div>
			</div>

			<%- include('includes/footer'); %>
		</div>
	</body>
</html>
