<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Page vide</title>

	</head>
	<body>
		<h2>coucou ceci est une page vide !</h2>
	</body>
</html>
