<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Acceuil</title>

	</head>
	<body>
		<h1>Acceuil du site web !</h1>
		<h2>Connected : </h2>
		<% if (connected) { %> 
		<p>oui</p>
		<% } else { %> 
		<p>non</p>
		<% } %>
	</body>
</html>
