<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Style -->
		<link href="public/style/style.css" rel="stylesheet" />

		<title>Inscription</title>

	</head>
	<body>
		<h1>Inscrit toi !!!</h1>
        <p>Le nom d'utilisateur ne peux contenir que des lettres ou des chiffres ou un tiret du bas.</p>
        <p>Le mot de passe doit contenir au moins une lettre minuscule, une lettre majuscule, un chiffre et un caractère spécial. Il doit aussi être entre 8 et 16 caractères.</p>
		<form method="post" action="inscription">
			<label for="username">Nom d'utilisateur:</label>
			<input type="text" id="username" name="username" required>
			<br>
			<label for="password">Mot de passe:</label>
			<input type="password" id="password" name="password" required>
			<br>
			<input type="submit" value="S'inscrire">
		</form><br><br>
		<a href="connexion">  
			<button>connexion</button>  
		</a><br>
		<a href="">  
			<button>acceuil</button>  
		</a><br>
		<a href="deconnexion">  
			<button>deconnexion</button>  
		</a>

		<!-- ALERT BLOCK -->
		<% if (alert) { %> 
		<p class="alert"><%= alert.message %></p>
		<% } else { %> 
		<p>pas d'alert en cour !</p>
		<% } %>
	</body>
</html>
