<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Inscription</title>

	</head>
	<body>
		<h1>Inscrit toi !!!</h1>
		<form method="post" action="inscription">
			<label for="username">Nom d'utilisateur:</label>
			<input type="text" id="username" name="username" required>
			<br>
			<label for="password">Mot de passe:</label>
			<input type="password" id="password" name="password" required>
			<br>
			<input type="submit" value="S'inscrire">
		</form>
	</body>
</html>
