<!DOCTYPE html>
<html lang="fr">
	<head>
		<%- include('includes/head'); %>

		<title>Pok'help | JBFC</title>
	</head>
	<body>
		<%- include('includes/home_icon'); %>
		<div class="container">
			<!-- TITRE -->
			<div class="d-flex justify-content-center">
				<h1>Julien Burgevin football club</h1>
			</div>

			<div class="d-flex justify-content-center text-center espace">
				<div class="faiseurs">
					Ce club de Beauvais mené par le célèbre cycliste (0 victoire à son actif) Julien Burgevin est en train de percer grâce notamment à son cri de guerre (<a href="https://www.youtube.com/watch?v=cWyhqogpZCY" style="color: #ffffff; text-decoration: none">vidéo ici</a>). Le club se place actuellement sur la troisième place du podium dans son championnat(à 3 équipes en d12). Nous les remercions beaucoup pour leur soutien sans faille.

							<img src="public/images/remerciements/jbfc.jpeg" alt="Img Alexou" style="width: 350px; border-radius: 30px; margin-top: 30px; border: solid 2px #000000" />
					<br /><br />
				</div>
			</div>

			<%- include('includes/footer'); %>
		</div>
	</body>
</html>
