<!DOCTYPE html>
<html lang="fr">
	<head>
		<%- include('includes/head'); %>

		<title>Pok'help | JC Corp</title>
	</head>
	<body>
		<%- include('includes/home_icon'); %>
		<div class="container">
			<!-- TITRE -->
			<div class="d-flex justify-content-center">
				<h1>JC Corporation</h1>
			</div>

			<div class="d-flex justify-content-center text-center espace">
				<div class="faiseurs">
					La multi nationale lancée par la jeune entrepreneuse Jean-Claude (<a href="https://www.instagram.com/reel/CrfXf57vhvL/?igshid=MzRlODBiNWFlZA==" style="color: #ffffff; text-decoration: none">vidéo ici</a>) est en pleine expension (3 clients en 1 an soit 3 fois plus que l'année précédente). Nous la remercions beaucoup pour son soutien.

							<img src="public/images/remerciements/jc_corp.jpg" alt="Img Alexou" style="width: 350px; border-radius: 30px; margin-top: 30px; border: solid 2px #ffffff" />
					<br /><br />
				</div>
			</div>

			<%- include('includes/footer'); %>
		</div>
	</body>
</html>
