<!DOCTYPE html>
<html lang="fr">
	<head>
        <%- include('includes/head'); %>

		<title>Pok'help | Règle du jeu</title>
	</head>

	<body>
		<div class="container">
			<!-- TITRE -->
			<div class="d-flex justify-content-center">
				<h1>Règle du jeu</h1>
			</div>
            
            <p>Il faut gagner !</p>

            <%- include('includes/footer'); %>
		</div>
	</body>
</html>
