<!DOCTYPE html>
<html lang="fr">
	<head>
		<%- include('includes/head'); %>

		<title>Pok'help | Règle du jeu</title>
	</head>

	<body>
		<%- include('includes/home_icon'); %>

		<div class="container">
			<!-- TITRE -->
			<div class="d-flex justify-content-center">
				<h1>Règle du jeu</h1>
			</div>

			<div class="d-flex justify-content-center text-center espace">
				<div class="faiseurs">
					Le but du jeu est de gagner la partie !!!<br />
					Si vous voulez plus de précision cliquer <a href="https://www.regledujeu.fr/jeux-de-cartes/poker/">ici</a> <br /><br />
				</div>
			</div>

			<%- include('includes/footer'); %>
		</div>
	</body>
</html>
