<!DOCTYPE html>
<html lang="fr">
	<head>
		<%- include('includes/head'); %>

		<title>Pok'help | Remerciements</title>
	</head>

	<body>
		<%- include('includes/home_icon'); %>

		<div class="container">
			<!-- TITRE -->
			<div class="d-flex justify-content-center">
				<h1>Big thanks</h1>
			</div>

			<div class="row">
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/ja_coding.jpg" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">Julien et Alexis</h5>
								<p class="card-text" style="color: #000000">
									Merci beaucoup à Julien et Alexis sans quoi beaucoup plus de choses auraient été possibles mais il faut bien aider
									les faibles.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/romain.jpg" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">Romain</h5>
								<p class="card-text" style="color: #000000">
									Ajoutons aussi nos profonds remerciements à Romain pour sa beauté naturelle qui illumine nos cours.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/prisonnier.jpg" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">Quentin</h5>
								<p class="card-text" style="color: #000000">
									Sincères salutations à Quentin avec qui nous avons partagé aucun moment mais bon son coiffeur doit être en prison
									donc on lui donne de la force.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/attendre.jpg" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">Julien</h5>
								<p class="card-text" style="color: #000000">
									Nous nous excusons auprès de l'autre Julien qui nous a attendu chaque midi à cause d'Éloi car c'est toujours de sa
									faute ce gros nul.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/seb.jpg" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">Papa de éloi</h5>
								<p class="card-text" style="color: #000000">
									Nous remercions aussi le papa du plus nul du groupe qui héberge très gentiment le site et nous a aidé à trouver
									une idée de projet même si ce génie de Mathis l'aurait trouvé peu de temps après.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/maman_mathis.jpeg" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">Maman Mathis</h5>
								<p class="card-text" style="color: #000000">
									Petite mention spéciale à la mère du beau gosse du groupe (Mathis même s'il n'y avait pas d'ambiguité) qui a passé
									2 soirées à aider son fils à essayer de trouver des probas pour au final trouver un truc tout fait car c'était
									beaucoup trop compliqué.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/jm_proba.jpg" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">Jean-Mimi</h5>
								<p class="card-text" style="color: #000000">
									Merci à Jean-Michel proba (c'est son petit surnom entre nous) qui nous a fait les probas bien gentiment et à qui
									nous n'avons rien volé.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/gigi.jpg" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">Guillaume</h5>
								<p class="card-text" style="color: #000000">
									Quelques remerciements à Guillaume qui a juste planté le jeu en testant mais bon il fait le quota d'handicapé
									comme il est tout le temps en béquilles.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/phi.webp" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">Les rageux de physique</h5>
								<p class="card-text" style="color: #000000">
									Nous voulons donner de la force aux rageux de physique qui disent que la NSI c'est trop facile. Oui et alors il
									fallait faire les bons choix (mention spéciale à Martin qui n'a même pas eu de 20 au bac de spécialité).
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/foot_lyon.jpg" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">Mathurin</h5>
								<p class="card-text" style="color: #000000">
									Nous ne remercions pas ce délinquant avec ses goûts footballistiques douteux qui font régner une mauvaise
									atmosphère de travail.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/om.jpg" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">OM</h5>
								<p class="card-text" style="color: #000000">
									Merci à l'olympique de Marseille qui va nous faire gagner un point sur notre note (Nous retirons ces remerciements
									si ce n'est pas le cas).
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/deprime.webp" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">Valentin</h5>
								<p class="card-text" style="color: #000000">
									Profond respect à Valent2 qui a supporté les aneries d'éloi en cours durnant le projet.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/hippo.jpg" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">Cousin Alexis</h5>
								<p class="card-text" style="color: #000000">
									Merci au cousin à Alexis qui nous a donné un avis qui a permi à notre groupe d'amis de développer azerty. Cela
									fait beaucoup de rimes en "i" pour quelqu'un qui n'a pas beaucoup servi.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/pc.gif" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">pc du lycée</h5>
								<p class="card-text" style="color: #000000">
									Nous ne remercions pas les pc du lycée pour leur lenteur et leurs interdictions incongrues qui énervent tout le
									monde (surtout Eloi).
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/pc_mathis.webp" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">pc de Mathis</h5>
								<p class="card-text" style="color: #000000">
									Félicitations au pc portable de Mathis qui a survécu aux presques 7 milliards d'extensions vscode sans broncher.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/password.png" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">jupyterlab</h5>
								<p class="card-text" style="color: #000000">
									Nous saluons aussi jupyterlab pour sa praticité mais pas pour les 800 mots de passe nécessaires pour s'y
									connecter.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/multiple_pc.jpeg" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">pc éloi</h5>
								<p class="card-text" style="color: #000000">
									Merci à ce pc et ses 14 écrans pour la vitesse que cela donne à éloi pour coder (seul domaine où il est rapide).
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/souris.jpg" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">souris éloi</h5>
								<p class="card-text" style="color: #000000">
									Petit big up à ces souris qui nous ont servi chaque cours. Leur ergonomie non négligeable a permi à Mathis ses
									incroyables capacités de codeur.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/chaise.webp" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">chaises</h5>
								<p class="card-text" style="color: #000000">
									Grosse force aux 2 chaises qui ont supporté le poids considérable d'éloi durant tout le projet.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/vscode.png" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">vs code</h5>
								<p class="card-text" style="color: #000000">
									Nous ne disons pas merci à vscode qui à rendu éloi dépendant de ce fléau qu'il veut répandre partout où il passe.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/discord.jpeg" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">discord</h5>
								<p class="card-text" style="color: #000000">
									Nous remercions ce réseau social qui a permis à éloi de dire ouvertement que Mathis était nul mais bon on ne
									répond aux imbéciles que par le silence.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/bootstrap.png" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">Bootstrap</h5>
								<p class="card-text" style="color: #000000">
									Merci à Bootstrap qui est très pratique, beau et fort mais bon éloi le dit très tard ce qui n'avantage pas son
									coéquipier.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/mme_lemaire.jpg" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">Madame Lemaire</h5>
								<p class="card-text" style="color: #000000">
									Nous pouvons aussi remercier Mme Lemaire qui a accepté de retarder sa pause déjeuner chaque mercredi et jeudi midi
									pour discuter avec des élèves incompétents que sont Éloi, Alexis et Julien.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" style="margin-bottom: 20px">
					<div class="d-flex justify-content-center text-center">
						<div class="card" style="width: 18rem">
							<img src="public/images/remerciements/mr_pinson.jpg" class="card-img-top position-fixed-1" alt="..." />
							<div class="card-body">
								<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">Monsieur Pinson</h5>
								<p class="card-text" style="color: #000000">
									Enfin, merci beaucoup à monsieur Pinson qui ne nous a pas aidé beaucoup mais bon faut être gentil comme c'est lui
									qui nous note.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-center space">
				<div class="line_separation"></div>
			</div>

			<div class="d-flex justify-content-center text-center space">
				<div class="card" style="width: 500px">
					<img src="public/images/remerciements/ps.png" class="card-img-top position-fixed-1" alt="..." />
					<div class="card-body">
						<h5 class="card-title" style="color: #000000; font-family: 'Bowlby One SC', cursive">Post scriptum</h5>
						<p class="card-text" style="color: #000000">
							<strong>ps 1 :</strong> Encore merci à Julien et Alexis qui sont vraiment très très nuls mais bon les forts se doivent
							d'aider les faibles même si cela nous retarde.<br />
							<strong>ps 2 :</strong> Julien et Alexis sont vraiment nuls faut le rappeler.<br />
							<strong>ps 3 :</strong> ps ne veut pas dire photoshop.<br />
							<strong>ps 4 :</strong> La console sur laquelle nous avons le plus joué.<br />
							<strong>ps 5 :</strong> La dernière console sur laquelle nous exporterons notre projet.<br />
							<strong>ps 6 :</strong> nous nous l'achèterons grâce à l'argent de "pok'help".<br />
							<strong>ps 7 :</strong> ps signifie "post scriptum" ce qui veut dire "après écriture".<br />
							<strong>ps 8 :</strong> "Un homme qui n'a pas connu la vraie souffrance ne peut pas désirer la paix véritable". <br />
							<strong>ps 9 :</strong> Oui cette citation n'a aucun rapport. <br />
							<strong>ps 10 :</strong> Julien et Alexis sont vraiment vraiment nuls<br />
							<strong>ps 11 :</strong> <a id="easter-egg" href="/alexis">Alexis</a> ne sait pas faire un href.
							</a> 
						</p>
					</div>
				</div>
			</div>
            
			<%- include('includes/footer'); %>
		</div>
	</body>
</html>
