<!DOCTYPE html>
<html lang="fr">
	<head>
        <%- include('includes/head'); %>

		<title>Pok'help | Sponsors</title>
	</head>

	<body>
		<%- include('includes/home_icon'); %>

		<div class="container">
			<!-- TITRE -->
			<div class="d-flex justify-content-center">
				<h1>Sponsors</h1>
			</div>
            
            <div class="d-flex justify-content-center text-center espace">
				<div class="faiseurs">
					Voici ci dessous la liste de nos sponsors. Tous nos sponsors ont été minutieusement chisit pour obtenir un rendement incroyablement élevé. 
				</div>
			</div>
            <div class="d-flex justify-content-center text-center espace">
                <ul class="list-group"style="border: solid 1px #ffffff; ">
                    <li class="list-group-item list-group-item-info" style="background-color: #0d1aa6; color: white; border-bottom: solid 1px white;">JC Corporation</li>
                    <li class="list-group-item list-group-item-dark" style="background-color: #0d1aa6; color: white; border-bottom: solid 1px white;">Université d'Angers</li>
                    <li class="list-group-item list-group-item-dark" style="background-color: #0d1aa6; color: white; border-bottom: solid 1px white;">Julien Burgevin FC</li>
                    <li class="list-group-item list-group-item-dark" style="background-color: #0d1aa6; color: white; border-bottom: solid 1px white;">Aurélie'popotamus</li>
                    <li class="list-group-item list-group-item-dark" style="background-color: #0d1aa6; color: white; border-bottom: solid 1px white;">Aurélie'popotamus</li>
                </ul>
            </div>

            <%- include('includes/footer'); %>
		</div>
	</body>
</html>
